<h1>Welcome 2 Orghub, pleb</h1>
<%=image_tag("flocka.gif", size:"350x350")%>
<%=image_tag("safe.png",size:"150x150")%>
<%=image_tag("hate.png",size:"350x350")%>
<%=image_tag("rotatingthot.gif")%>
<%=image_tag("cripwalk.gif", size:"350x350")%>
