<!DOCTYPE html>
<html>
  <head>
    <title>Cse345project</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>	
  <body>
    <!--start container-->
    <div id="container">

    <!--start header-->

    <header>
	<a href="/"><%= image_tag("Selection_005.png", size:"350x100")%></a>
<nav>
    <ul>
	<li><%=link_to "Events", events_view_path%></li>
         <li><%=link_to "Services", services_view_path%></li>
<%if session[:user].nil?%>
<li><%=link_to "Log in", authenticate_login_path%></li>
<li><%=image_tag("flocka.jpg", size:"110x110")%></li>
<%else%>
<li><%=link_to "Log out", authenticate_logout_path%></li>
<li><%=link_to "Inbox", messages_view_path%></li>
<%end%>
    </ul>
</nav>
<!--end menu-->
	

    <!--end header-->
	</header>


   <!--start intro-->

   <div id="intro">
   
          <%= yield %>
   </div>
   <!--end intro-->
   
   <!--start holder-->
   
    </div>
    <!--end holder-->
    </div>
  </body>
</html>
